###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

.vs/
GAM20003-Project/Logs/AssetImportWorker0.log
*.log
*.log
GAM20003-Project/Logs/shadercompiler-UnityShaderCompiler.exe2.log
GAM20003-Project/Logs/shadercompiler-UnityShaderCompiler.exe1.log
GAM20003-Project/Logs/shadercompiler-UnityShaderCompiler.exe0.log
GAM20003-Project/Logs/AssetImportWorker4.log
GAM20003-Project/Logs/AssetImportWorker3.log
GAM20003-Project/Logs/AssetImportWorker2.log
GAM20003-Project/Logs/AssetImportWorker1.log
GAM20003-Project/Logs/AssetImportWorker0.log
GAM20003-Project/Logs/AssetImportWorker0.log
GAM20003-Project/UserSettings/EditorUserSettings.asset
*.log
*.asset
*.log
*.log
GAM20003-Project/Logs/AssetImportWorker1-prev.log
GAM20003-Project/Logs/AssetImportWorker1.log
GAM20003-Project/Logs/AssetImportWorker2.log
GAM20003-Project/Logs/AssetImportWorker3-prev.log
GAM20003-Project/Logs/AssetImportWorker3.log
GAM20003-Project/Logs/shadercompiler-UnityShaderCompiler.exe0.log
GAM20003-Project/UserSettings/EditorUserSettings.asset
